Source: kodi-game-libretro-jumpnbump
Priority: extra
Maintainer: wsnipex <wsnipex@a1.net>
Build-Depends: debhelper (>= 9.0.0),
               cmake,
               kodi-addon-dev,
               libretro-jumpnbump (>= 0.1.0) | jumpnbump (>= 0.1.0)
Standards-Version: 3.9.8
Section: libs

Package: kodi-game-libretro-jumpnbump
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, kodi, kodi-game-libretro
Enhances: kodi
Description: Jump 'n Bump core for kodi's retroplayer
 Jump 'n Bump core for kodi's retroplayer
